<div class="container-fluid py-1 px-3">

    <div class="d-flex flex-row justify-content-center gap-1">

        <div class="d-flex flex-column board-half p-1 gap-1">
            <div class="d-flex flex-row justify-content-center gap-1 mb-5">
                <div class="peg down light-peg">

                    <div class="d-flex checker dark justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 1 * var(--cheker-size));">
                        <div class="inner-checker dark align-self-center"></div>
                    </div>
                    <div class="d-flex checker dark justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 2 * var(--cheker-size));">
                        <div class="inner-checker dark align-self-center"></div>
                    </div>

                </div>
                <div class="peg down dark-peg">

                    <div class="d-flex checker light justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 1 * var(--cheker-size));">
                        <div class="inner-checker light align-self-center"></div>
                    </div>
                    <div class="d-flex checker light justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 2 * var(--cheker-size));">
                        <div class="inner-checker light align-self-center"></div>
                    </div>

                </div>
                <div class="peg down light-peg"></div>
                <div class="peg down dark-peg"></div>
                <div class="peg down light-peg"></div>
                <div class="peg down dark-peg"></div>
            </div>
            <div class="d-flex flex-row justify-content-center gap-1 mt-5">
                <div class="peg up light-peg"></div>
                <div class="peg up dark-peg"></div>
                <div class="peg up light-peg"></div>
                <div class="peg up dark-peg"></div>
                <div class="peg up light-peg"></div>
                <div class="peg up dark-peg"></div>
            </div>
        </div>

        <div class="d-flex flex-column board-half p-1 gap-1">
            <div class="d-flex flex-row justify-content-center gap-1 mb-5">
                <div class="peg down light-peg"></div>
                <div class="peg down dark-peg"></div>
                <div class="peg down light-peg"></div>
                <div class="peg down dark-peg"></div>
                <div class="peg down light-peg"></div>
                <div class="peg down dark-peg"></div>
            </div>
            <div class="d-flex flex-row justify-content-center gap-1 mt-5">
                <div class="peg up light-peg">
                    <div class="d-flex checker dark justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 1 * var(--cheker-size));">
                        <div class="inner-checker dark align-self-center"></div>
                    </div>
                    <div class="d-flex checker dark justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 2 * var(--cheker-size));">
                        <div class="inner-checker dark align-self-center"></div>
                    </div>
                    <div class="d-flex checker dark justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 3 * var(--cheker-size));">
                        <div class="inner-checker dark align-self-center"></div>
                    </div>
                    <div class="d-flex checker dark justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 4 * var(--cheker-size));">
                        <div class="inner-checker dark align-self-center"></div>
                    </div>
                </div>
                <div class="peg up dark-peg">
                    <div class="d-flex checker light justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 1 * var(--cheker-size));">
                        <div class="inner-checker light align-self-center"></div>
                    </div>
                    <div class="d-flex checker light justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 2 * var(--cheker-size));">
                        <div class="inner-checker light align-self-center"></div>
                    </div>
                    <div class="d-flex checker light justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 3 * var(--cheker-size));">
                        <div class="inner-checker light align-self-center"></div>
                    </div>
                    <div class="d-flex checker light justify-content-center"
                         style="margin-top: calc(var(--peg-height) - 4 * var(--cheker-size));">
                        <div class="inner-checker light align-self-center"></div>
                    </div>
                </div>
                <div class="peg up light-peg"></div>
                <div class="peg up dark-peg"></div>
                <div class="peg up light-peg"></div>
                <div class="peg up dark-peg"></div>
            </div>
        </div>

    </div>

</div>