@using WpfBlazor.Entities
@using WpfBlazor.Enums;

@{
    void RenderPoint(int pointNumber, PointSide pointSide)
    {
        Point point = this.board!.GetPoint(pointNumber);

        string pointStyle = GetPointStyle(pointNumber, pointSide);

        <div @onclick="() => SelectPoint(point)">
            <div class="@(pointStyle)">
                @if (point.Checkers.Any())
                {
                    int cycleEnd = Math.Min(point.Checkers.Count(), 5);
                    @for (int c = 0; c < cycleEnd; c++)
                    {
                        RenderChecker(c, point.Checkers.Skip(c).Take(1).First());
                    }
                }
            </div>
        </div>
    }

    void RenderChecker(int index, Checker checker)
    {
        string style = GetCheckerStyle(checker.Color);

        <div class="d-flex @(style) justify-content-center"
             @onclick="() => ClickChecker(checker)"
             style="margin-top: calc(var(--point-height) - @(index + 1) * var(--cheker-size));">
            <div class="inner-@(style) align-self-center"></div>
        </div>
    }
}

<div class="container-fluid py-1 px-3">

    <div class="d-flex flex-row justify-content-center gap-1">

        <div class="d-flex flex-column board-half p-1 gap-1">
            <div class="d-flex flex-row justify-content-center gap-1 mb-5">
                @foreach (int point in LeftTopPoints())
                {
                    RenderPoint(point, PointSide.Down);
                }
            </div>
            <div class="d-flex flex-row justify-content-center gap-1 mt-5">
                @foreach (int point in LeftDownPoints())
                {
                    RenderPoint(point, PointSide.Up);
                }
            </div>
        </div>

        <div class="d-flex flex-column board-half p-1 gap-1">
            <div class="d-flex flex-row justify-content-center gap-1 mb-5">
                @foreach (int point in RightTopPoints())
                {
                    RenderPoint(point, PointSide.Down);
                }
            </div>
            <div class="d-flex flex-row justify-content-center gap-1 mt-5">
                @foreach (int point in RightBottomPoints())
                {
                    RenderPoint(point, PointSide.Up);
                }
            </div>
        </div>

    </div>

</div>